@media screen and (max-width: 320px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    #pageContent{
        display: flex;
        flex-direction: column;
    }
    .nav-menu{
        display: none;
    }
    .logo {
        margin-top: 20px;
    }
    .hero-container{
        margin: auto;
        justify-content: center;
        height: 400px;
    }
    .hero-content{
        max-width: 320px;
        padding: 2rem;
        height: auto;
    }
    .two{
        font-size: 20px;
    }
    .three{
        font-size: 10px;
    }
    .four{
        font-size: 8px;
    }
    .about-container{
        margin: 0;
        padding: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .about-content{
        max-width: 320px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
        
    }
.about-detail{
    font-size: 8px;
    padding: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0 ;
}
.about-header{
    font-size: 20px;
}
.about-header::before{
    font-size: 18px;
    padding-left: 2rem;
}
.about-header::after{
    display: none;
}
.profile-photo{
    
    margin: 0;
}
.HTML{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
    
    
}
.CSS{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
    }
    .JAVASCRIPT{
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        }
        .WORDPRESS{
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;
            }
            .work-container{
                margin: 0;
                padding: 0;
                justify-content: center;
                display: flex;
                flex-direction: column;
                align-items: center;
        
            }
            .work-header{
                font-size: 20px;
            }
            .work-header::before{
                font-size: 18px;
                padding-left: 2rem;
            }
            .work-header::after{
                display: none;
            }
            .work-wrapper{
                display: flex;
                flex-direction: column;
            }
           .timeline{
            max-width: 320px;
           }
          .desc ul{
            padding: 2rem;
           
          }
          
           .desc ul li{
            font-size: 10px;
            color: white;

           }
        #ram{
            font-weight: 5px;
            font-size: 10px;
        }
        .mycat-container{
           margin: 500px 0 0 0;
            padding: 0;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            
    
        }
        .cat-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        
        
        }
        .mycat-header{
            font-size: 20px;
        }
        .mycat-header::before{
            font-size: 18px;
            padding-left: 2rem;
        }
        .mycat-header::after{
            display: none;
        }
    }

    @media screen and (max-width: 420px) {
        nav{
            display: flex;
            flex-direction: column;
        }
        #pageContent{
            display: flex;
            flex-direction: column;
        }
        .nav-menu{
            display: none;
        }
        .logo {
            margin-top: 20px;
        }
        .hero-container{
            margin: auto;
            justify-content: center;
            height: 400px;
        }
        .hero-content{
            max-width: 320px;
            padding: 2rem;
            height: auto;
        }
        .two{
            font-size: 20px;
        }
        .three{
            font-size: 10px;
        }
        .four{
            font-size: 8px;
        }
        .about-container{
            margin: 0;
            padding: 0;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
    
        }
        .about-content{
            max-width: 320px;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            align-items: center;
            
        }
    .about-detail{
        font-size: 8px;
        padding: 2rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .learn{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin:0 ;
    }
    .about-header{
        font-size: 20px;
    }
    .about-header::before{
        font-size: 18px;
        padding-left: 2rem;
    }
    .about-header::after{
        display: none;
    }
    .profile-photo{
        
        margin: 0;
    }
    .HTML{
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin-bottom: 1rem;
        
        
    }
    .CSS{
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin-bottom: 1rem;
        }
        .JAVASCRIPT{
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;
            }
            .WORDPRESS{
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: auto;
                }
                .work-container{
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
            
                }
                .work-header{
                    font-size: 20px;
                }
                .work-header::before{
                    font-size: 18px;
                    padding-left: 2rem;
                }
                .work-header::after{
                    display: none;
                }
                .work-wrapper{
                    display: flex;
                    flex-direction: column;
                }
               .timeline{
                max-width: 320px;
               }
              .desc ul{
                padding: 2rem;
               
              }
              
               .desc ul li{
                font-size: 10px;
                color: white;
    
               }
            #ram{
                font-weight: 5px;
                font-size: 10px;
            }
            .mycat-container{
               margin: 500px 0 0 0;
                padding: 0;
                justify-content: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                
        
            }
            .cat-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
            
            
            }
            .mycat-header{
                font-size: 20px;
            }
            .mycat-header::before{
                font-size: 18px;
                padding-left: 2rem;
            }
            .mycat-header::after{
                display: none;
            }
        }
    
    
    
