*{
    margin: 0;
    box-sizing: border-box;
    font-family: SpaceMono-Regular;
    padding: 0;
}
body{
    background-color: #0a192f;
}
.content{
    display: none;

}

.fadecontent{
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}

}

 #navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    top: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#navbar.scroll {
    background-color: black; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.since{
    font-size: 15px;
}
.logo-name{
    font-size: 20px;
}
.logo:hover{
    cursor: pointer;
    color: #F9A602;
    transition: 0.3s;
}
.nav-menu{
    display: flex;
   
}
.nav-menu li{
    list-style: none;
    margin-left: 2rem;
    
}
.nav-menu li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-menu li a:hover{
    cursor: pointer;
    color: #F9A602;
    transition: 0.3s;
}
#about::before{
    content: "01.";
    margin-right: 10px;
    color: #F9A602;
    font-size: 13px;
    
}
#work::before{
    content: "02.";
    margin-right: 10px;
    color: #F9A602;
    font-size: 13px;
    
}
#social::before{
    content: "03.";
    margin-right: 10px;
    color: #F9A602;
    font-size: 13px;
    
}
#resume::before{
    content: "04.";
    margin-right: 10px;
    color: #F9A602;
    font-size: 13px;
    
}
.hero-container{
    margin: 0 450px;
    height: 800px;
    display: flex;
    align-items: center;
}
.hero-content{
    display: flex;
    height: 600px;
    width: 100%;
    flex-direction: column;
    padding-top: 200px;
}
.one{
    margin-bottom: 30px;
    color: #F9A602;
    font-size: 16px;
}
.two{
    color: #ccd6f6;
    font-size: 50px;
    font-weight: bold;
}
.three{
    color: #8892b0;
    font-size: 30px;
    font-weight: bold;
}
.four{
    color: #7d87a4;
    font-size: 16px;
    margin-top: 20px;
}
#concentrix::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F9A602;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}
#concentrix:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#concentrix {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
}

.two p {
    display: inline-block;
    overflow: hidden;
    animation: typing 1.5s steps(25, end), blink-caret 1s step-end infinite;
    white-space: nowrap;
    font-family: monospace;
    border-right: 2px solid #f9a602;
}

@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f9a602 }
}

.about-container{
    margin: 0 450px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.about-content{
    margin-left: 150px;
    height: 500px;
    width: 100%;
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
}
.profile-photo{
    flex: 1;
    height: 500px
}
.about-header{
    color: #ccd6f6;
    font-weight: bold;
    font-size: 30px;
}
.about-header::before{
    content: "01.";
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #F9A602;
}
.about-header::after{
    content: '';
    position:absolute;
    background-color: #233554;
    height: 1px;
    width: 300px;
    margin-left: 20px;
    margin-top: 25px;
    
}
.about-detail{
    margin-top: 50px;
    color: #7d87a4;
}
.learn{
    display: flex;
    margin-top: 30px ;
    justify-content: flex-start;

}
.learn div{
   margin-right: 20px;
    width: auto;
    height: auto;
    border: solid white 1px;
    padding: 10px 10px;
    color: white;
}

.HTML:hover{
    color: #e34c26;
    border: solid #e34c26 1px;
    transition: 0.3s;
}
.WORDPRESS:hover{
    color: pink;
    border: solid pink 1px;
    transition: 0.3s;
}
.CSS:hover{
    color: #264de4;
    border: solid #264de4 1px;
    transition: 0.3s;
}
.JAVASCRIPT:hover{
    color: #f0db4f;
    border: solid #f0db4f 1px;
    transition: 0.3s;
}
.profile-photo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    opacity: 75%;
}
.profile-photo:hover{
    opacity: 100%;
    transition: 1s;
}

.work-container{
    margin: 0 450px;
    height: 600px;
    display: flex;
    align-items: center;

}
.work-wrapper{
    height: 500px;
    width: 100%;
    padding-top: 100px;
}
.work-header{
    color: #ccd6f6;
    font-weight: bold;
    font-size: 30px;
}
.work-header::before{
    content: "02.";
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #F9A602;
}
.work-header::after{
    content: '';
    position:absolute;
    background-color: #233554;
    height: 1px;
    width: 300px;
    margin-left: 20px;
    margin-top: 25px;
    
}
.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
  }
  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
  }
  
  .direction-r .flag:before {
    left: -40px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250,80,80);
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timeline {
       width: 100%;
      padding: 4em 0 1em 0;
  }
  
  .timeline li {
      padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
  
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
  }
  
  .flag {
      background: rgb(255,255,255);
      z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
    z-index: 15;
  }
  
  }
  
  /* @media screen and (min-width: 400px; max-width: 660px;) {

    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
  } */
  
  /* } */
  
    .mycat-container{
        margin: 0 450px;
        height: 1200px;
        display: flex;
       padding-top: 500px;
        flex-direction: column;
    }
    .mycat-header{
        color: #ccd6f6;
        font-weight: bold;
        font-size: 30px;
    }
    .mycat-header::before{
        content: "04.";
        padding-right: 20px;
        font-size: 20px;
        font-weight: bold;
        color: #F9A602;
    }
    .mycat-header::after{
        content: '';
        position:absolute;
        background-color: #233554;
        height: 1px;
        width: 300px;
        margin-left: 20px;
        margin-top: 25px;
        
    }
    
.cat-wrapper{
    
    display: flex;
    height: 400px;
}
.meetang{
    flex: 1;
    justify-content: flex-start;
    overflow: visible;
    
    
    
}
.gallery{
    flex: 3;
   
    display: flex;
    align-items: center;
   
}
.gallery > div {
    padding-right: 20px;
}
::-webkit-scrollbar{
    width: 7.5px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background:#616D88;
    
}

