*{
    margin: 0;
    box-sizing: border-box;
    font-family: SpaceMono-Regular;
    padding: 0;
}
body{
    background-color: #0a192f;;
}
.content{
    display: none;

}

.fadecontent{
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}

}

 #navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    top: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#navbar.scroll {
    background-color: black; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.since{
    font-size: 15px;
}
.logo-name{
    font-size: 20px;
}
.logo:hover{
    cursor: pointer;
    color: #F9A602;
    transition: 0.3s;
}
.nav-menu{
    display: flex;
   
}
.nav-menu li{
    list-style: none;
    margin-left: 2rem;
    
}
.nav-menu li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-menu li a:hover{
    cursor: pointer;
    color: #F9A602;
    transition: 0.3s;
}
#about::before{
    content: "01.";
    margin-right: 10px;
    color: #F9A602;
    font-size: 13px;
    
}
#work::before{
    content: "02.";
    margin-right: 10px;
    color: #F9A602;
    font-size: 13px;
    
}
#social::before{
    content: "03.";
    margin-right: 10px;
    color: #F9A602;
    font-size: 13px;
    
}
#resume::before{
    content: "04.";
    margin-right: 10px;
    color: #F9A602;
    font-size: 13px;
    
}
.hero-container{
    margin: 0 450px;
    height: 800px;
    display: flex;
    align-items: center;
}
.hero-content{
    display: flex;
    height: 600px;
    width: 100%;
    flex-direction: column;
    padding-top: 200px;
}
.one{
    margin-bottom: 30px;
    color: #F9A602;
    font-size: 16px;
}
.two{
    color: #ccd6f6;
    font-size: 50px;
    font-weight: bold;
}
.three{
    color: #8892b0;
    font-size: 30px;
    font-weight: bold;
}
.four{
    color: #7d87a4;
    font-size: 16px;
    margin-top: 20px;
}
#concentrix::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F9A602;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}
#concentrix:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#concentrix {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
}

.two p {
    display: inline-block;
    overflow: hidden;
    animation: typing 1.5s steps(25, end), blink-caret 1s step-end infinite;
    white-space: nowrap;
    font-family: monospace;
    border-right: 2px solid #f9a602;
}

@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f9a602 }
}